$color-main-light-3: #fcd4b1;
$color-main-light-2: #fde4d0;
$color-main-light-1: #f79d50;
$color-main: #f5821f;
$color-main-dark-1: #dd7836;
$color-main-dark-2: #d7690a;
$color-main-dark-3: #d97306;
$color-main-dark-4: #aa5811;
$color-main-dark-5: $color-main-dark-3;
$color-main-dark-6: #b76b33;
$color-main-dark-7: #a76807;

//Originals:
//$color-main-light-3:  #f4fbe8
//%s/#f4fbe8/$color-main-light-3/g
//
//$color-main-light-2:  #f0f7e2
//%s/#f0f7e2/$color-main-light-2/g
//
//$color-main-light-1:  #bcdf7e
//%s/#bcdf7e/$color-main-light-1/g
//
//$color-main:  #8dc429
//%s/#8dc429/$color-main/g
//
//$color-main-dark-1:  #7cad23
//%s/#7cad23/$color-main-dark-1/g
//
//$color-main-dark-2:  #76af0f
//%s/#76af0f/$color-main-dark-2/g
//
//$color-main-dark-3:  #6c9032
//%s/#6c9032/$color-main-dark-3/g
//
//$color-main-dark-4:  #64920f
//%s/#64920f/$color-main-dark-4/g
//
//$color-main-dark-5:  #597338
//%s/#597338/$color-main-dark-5/g
//
//$color-main-dark-6:  #468847
//%s/#468847/$color-main-dark-6/g
//
//$color-main-dark-7:  #356635
//%s/#356635/$color-main-dark-7/g
